In [42]:
import pandas as pd
import numpy as np

In [7]:
pd.DataFrame(
    {
        "col1": {"index1": 1, "index2": 2},
        "col2": {"index1": 3, "index2": 4},
    },
)

        col1  col2
index1     1     3
index2     2     4

In [14]:
pd.DataFrame(
  [
      pd.Series({"col1": 1, "col2": 3}, name="index1"),
      pd.Series({"col1": 2, "col2": 4}, name="index2"),
  ]
)

(2, 2)

In [10]:
pd.DataFrame(
    [
        {"col1": 1, "col2": 2},
        {"col1": 3, "col2": 4},
    ],
    index=["index1", "index2"]
)

        col1  col2
index1     1     2
index2     3     4

In [11]:
pd.DataFrame(
    [
        [1, 2],
        [3, 4],
    ],
    index=["index1", "index2"],
    columns=["col1", "col2"],
)

        col1  col2
index1     1     2
index2     3     4

In [27]:
fruit1 = {
    "calories": 92,
    "fat": 0.29,
    "sugar": 3.4,
    "carbohydrates": 19.1,
    "protein": 1.5,
}
fruit2 = {
    "calories": 47,
    "fat": 0.3,
    "sugar": 8.1,
    "carbohydrates": 9.6,
    "protein": 1.2,
}
fruit3 = {
    "calories": 50,
    "fat": 0.2,
    "sugar": 10.4,
    "carbohydrates": 13.8,
    "protein": 0.5,
}
fruits = pd.DataFrame(
    [
        fruit1,
        fruit2,
        fruit3,
    ],
    index=["fruit1", "fruit2", "fruit3"],
)
fruits

        calories   fat  sugar  carbohydrates  protein
fruit1        92  0.29    3.4           19.1      1.5
fruit2        47  0.30    8.1            9.6      1.2
fruit3        50  0.20   10.4           13.8      0.5

In [28]:
fruits["calories"]

fruit1    92
fruit2    47
fruit3    50
Name: calories, dtype: int64

In [29]:
fruits.loc["fruit1","calories":"fat"] = 100

In [30]:
fruits

        calories    fat  sugar  carbohydrates  protein
fruit1       100  100.0    3.4           19.1      1.5
fruit2        47    0.3    8.1            9.6      1.2
fruit3        50    0.2   10.4           13.8      0.5

In [31]:
fruits[:2]

        calories    fat  sugar  carbohydrates  protein
fruit1       100  100.0    3.4           19.1      1.5
fruit2        47    0.3    8.1            9.6      1.2

In [34]:
factor1 = {
    "calories": 1,
    "fat": 1,
    "sugar": 1,
    "carbohydrates": 1,
    "protein": 1,
}
factor2 = {
    "calories": 1,
    "fat": 1,
    "sugar": 1,
    "carbohydrates": 1,
    "protein": 1,
}
factor4 = {
    "calories": 1,
    "fat": 1,
    "sugar": 1,
    "carbohydrates": 1,
    "protein": 0.5,
}
factors = pd.DataFrame(
    [
        factor1,
        factor2,
        factor4,
    ],
    index=["fruit1", "fruit2", "fruit4"],
)
factors

        calories  fat  sugar  carbohydrates  protein
fruit1         1    1      1              1      1.0
fruit2         1    1      1              1      1.0
fruit4         1    1      1              1      0.5

In [38]:
fruits * factors

        calories    fat  sugar  carbohydrates  protein
fruit1     100.0  100.0    3.4           19.1      1.5
fruit2      47.0    0.3    8.1            9.6      1.2
fruit3       NaN    NaN    NaN            NaN      NaN
fruit4       NaN    NaN    NaN            NaN      NaN

In [41]:
fruits / fruits.sum()

        calories       fat     sugar  carbohydrates  protein
fruit1  0.507614  0.995025  0.155251       0.449412  0.46875
fruit2  0.238579  0.002985  0.369863       0.225882  0.37500
fruit3  0.253807  0.001990  0.474886       0.324706  0.15625

In [43]:
np.exp(fruits)

            calories           fat         sugar  carbohydrates   protein
fruit1  2.688117e+43  2.688117e+43     29.964100   1.972534e+08  4.481689
fruit2  2.581313e+20  1.349859e+00   3294.468075   1.476478e+04  3.320117
fruit3  5.184706e+21  1.221403e+00  32859.625674   9.846091e+05  1.648721

In [45]:
fruits.add(factors, fill_value=0)

        calories    fat  sugar  carbohydrates  protein
fruit1     101.0  101.0    4.4           20.1      2.5
fruit2      48.0    1.3    9.1           10.6      2.2
fruit3      50.0    0.2   10.4           13.8      0.5
fruit4       1.0    1.0    1.0            1.0      0.5

In [47]:
fruits.add(factors).sum(skipna=True)

calories         149.0
fat              102.3
sugar             13.5
carbohydrates     30.7
protein            4.7
dtype: float64