In [7]:
def divition(number1, number2):
    return number1 / number2


def safe_divition(number1, number2):
    try:
        result = number1 / number2
    except ZeroDivisionError:
        print("Division by zero is not valid.")
        return None
    else:
        return result

In [8]:
divition(10, 2)

5.0

In [13]:
list_data = [1, 0, 3]

try:
    for k in (list_data):
        print(k)
        print(1/k)
except Exception as e:
    print("An error occurred:", e)
    print(k)

1
1.0
0
An error occurred: division by zero
0

In [9]:
divition(10, 0)

ZeroDivisionError: division by zero

In [5]:
safe_divition(10, 2)
safe_divition(10, 0)

Division by zero is not valid.

In [4]:
from utils.metrics import mse, mae

mse([1, None, 3], [1, 2, 3])

TypeError: unsupported operand type(s) for -: 'NoneType' and 'int'

In [1]:

def clean_text(docuemnt, treshhold=5):
    """
    Clean the text by removing short words.
    """
    words = docuemnt.split()
    cleaned_words = [word for word in words if len(word) >= treshhold]
    # docuemnt = " ".join(cleaned_words)
    return cleaned_words


def clean_text_typing(docuemnt: str, treshhold: int = 5) -> str:
    """
    Clean the text by removing short words.
    """
    words = docuemnt.split()
    cleaned_words = [word for word in words if len(word) >= treshhold]
    docuemnt = " ".join(cleaned_words)
    return docuemnt

text = "This is a test document with some short words."
doc = clean_text(text)
doc_typed = clean_text_typing(text, treshhold=4)

In [33]:
import pandas as pd
def clean_data(data):
    cleaned_data = data.dropna()
    return cleaned_data


def clean_data_typing(data: pd.DataFrame) -> pd.DataFrame:
    cleaned_data = data.dropna()
    return cleaned_data

In [21]:
data = pd.DataFrame([[1, 1, 2], [None, 3, 4], [5, None, 6]])
data

     0    1  2
0  1.0  1.0  2
1  NaN  3.0  4
2  5.0  NaN  6

In [23]:
data_clean = clean_data(data)
data_clean

     0    1  2
0  1.0  1.0  2